.body__container {
    width: 239px;
    height: 356px;
    background: linear-gradient(#ee2727 0%, #771414 100%);
}

.body__input {
    display: flex;
    justify-content: space-between;
    margin: 0 5px 0 5px;
    place-items: flex-end;
}

.body__input > input {
    height: 18px;
    flex: .80px;
    margin-top: 20px;
    font-family: Rockwell;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
    outline: none;
}

.body__searchicon > button {
    border: none;
    background-color: transparent;
    flex: .20px;
    cursor: pointer;
    outline: none;
}

.body__searchicon > button:hover {
    color: black;
}